* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Estilos del contenido */
.content {
    margin-left: 250px;
    /* Ancho del navbar */
    background-color: #8863f1;
}

.header {
    background-color: #ffffff;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.1);
    /* Sombra en el borde inferior */
    width: 100%;
    padding: 10px 0px;
    /* Espaciado interno */
}

.user-info {
    display: flex;
    align-items: center;
}

.user-icon {
    margin-left: 55px;
    padding: 8px;
    border-radius: 50%;
    background-color: #f1f1f1;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.user-icon img {
    width: 30px;
    height: 30px;
}

.user-details {
    margin-right: auto;
    margin-left: 10px;
}

.user-details span {
    display: block;
    /* Alinea los textos verticalmente */
    color: #333333;
    /* Color del texto */
}

.dropdown-menu-container {
    position: relative;
    cursor: pointer;
    margin-right: 20px;
    /* Estilos adicionales para el rectángulo desplegable */
}

.dropdown-toggle {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border: 1px solid #cccccc;
    /* Borde del rectángulo */
    border-radius: 5px;
    /* Bordes redondeados */
    transition: border 0.5s;
    /* Estilos adicionales para el botón desplegable */
}

.dropdown-toggle:hover {
    border: 1px solid #333333;
}

.dropdown-toggle img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.menu-content {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    /* Sombra debajo del menú */
    border: 1px solid #cccccc;
    /* Borde del menú */
    border-radius: 5px;
    /* Bordes redondeados */
    padding: 10px;
    display: none;
    /* Estilos adicionales para el menú desplegable */
}

.menu-content a {
    display: block;
    font-size: 14px;
    color: #333333;
    /* Color del texto */
    text-decoration: none;
    padding: 5px 4px;
}

.dropdown-menu-container:hover .menu-content {
    display: block;
    /* Muestra el menú al pasar el mouse sobre el rectángulo */
}

/* styles.css */

.title-section {
    display: flex;
    align-items: center;
    background-color: transparent;
    color: #ffffff;
    font-size: 50px;
    margin-left: 60px;
    padding: 30px 0px;
}

.title-svg {
    filter: brightness(0) invert(1);
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.body-content {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px -10px 0px -12px rgba(0, 0, 0, 0.1);
}

.container {
    width: 100%;
    margin: 20px auto;
    padding: 10px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.add-user {
    display: flex;
    align-items: center;
    margin-bottom: 40px;

}

.add-user img {
    height: 30px;
    width: 30px;
    filter: brightness(0);
    margin-right: 10px;
}

.title {
    font-size: 30px;
    color: #000000;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-size: 16px;
}

.input-group input,
.input-group select,
.input-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #8863f1;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Estilos para la disposición en tres columnas */
.form-columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 20px;
}

button {
    margin-top: 23px;
    width: 100%;
    height: 39px;
    padding: 10px;
    background-color: transparent;
    border: 2px solid #8863f1;
    border-radius: 5px;
    color: #8863f1;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #8863f1;
    color: #ffffff;
}