* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.content {
    margin-left: 250px;
    background-color: #8863f1;
}

.header {
    background-color: #ffffff;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 10px 0px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-icon {
    margin-left: 55px;
    padding: 8px;
    border-radius: 50%;
    background-color: #f1f1f1;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.user-icon img {
    width: 30px;
    height: 30px;
}

.user-details {
    margin-right: auto;
    margin-left: 10px;
}

.user-details span {
    display: block;
    color: #333333;
}

.dropdown-menu-container {
    position: relative;
    cursor: pointer;
    margin-right: 20px;
}

.dropdown-toggle {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    transition: border 0.5s;
}

.dropdown-toggle:hover {
    border: 1px solid #333333;
}

.dropdown-toggle img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.menu-content {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 10px;
    display: none;
}

.menu-content a {
    display: block;
    font-size: 14px;
    color: #333333;
    text-decoration: none;
    padding: 5px 4px;
}

.dropdown-menu-container:hover .menu-content {
    display: block;
}

.title-section {
    display: flex;
    align-items: center;
    background-color: transparent;
    color: #ffffff;
    font-size: 50px;
    margin-left: 60px;
    padding: 30px 0px;
}

.title-svg {
    filter: brightness(0) invert(1);
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.body-content {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px -10px 0px -12px rgba(0, 0, 0, 0.1);
}

#search-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

#search-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#search-button {
    padding: 8px 15px;
    background-color: #8863f1;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.5s;
}

#search-button:hover {
    background-color: #6d4fc0;
}

#action-buttons {
    margin-bottom: 40px;
}

#action-buttons button {
    margin-right: 10px;
    padding: 8px 15px;
    background-color: transparent;
    border: 1px solid #8863f1;
    color: #8863f1;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
}

#action-buttons button:hover {
    background-color: #8863f1;
    color: #ffffff;
}

#category-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

#category-table th,
#category-table td {
    padding: 8px;
    border-bottom: 2px solid #dadada;
    text-align: left;
    text-align: center;
}

#category-table th {
    background-color: #8863f1;
    color: #ffffff;
    text-align: center;
}

#category-table tr {
    transition: background-color 0.5s;
}

#category-table tr:hover {
    background-color: #f2f2f2;
}

#category-table td button {
    align-items: center;
    justify-content: center;
    padding: 8px;
    margin: 0px 5px;
    background-color: #8863f1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s;
}

#category-table td button img {
    pointer-events: none;
    height: 20px;
    width: 20px;
}

#category-table td button:hover {
    background-color: #6d4fc0;
}

#category-table td button.active {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

#category-table td button.inactive {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}


#category-table td button.active:hover {
    background-color: #449c47;
}

#category-table td button.inactive {
    background-color: #c2362c;
}

#category-table-body tr.selected {
    background-color: #f2f2f2;
}