* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 250px;
    background-color: #1a1434;
    color: #ffffff;
    font-family: Arial, sans-serif;
    padding: 20px;
    overflow-y: auto;
}

.logo {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.logo img {
    width: 80px;
    height: 80px;
    margin-right: 5px;
}

.logo-content {
    display: flex;
    flex-direction: column;
}

.logo span {
    font-size: 24px;
    font-weight: bold;
}

.menu {
    list-style-type: none;
    padding: 10px;
}

.menu li {
    margin-bottom: 20px;
}

.menu a {
    color: #8f8f8f;
    font-size: 18px;
    text-decoration: none;
    display: flex;
    align-items: center;
    position: relative;
    transition: color 0.5s;
}

.menu a img {
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

.menu a:hover {
    color: #ffffff;
}

.menu a img {
    transition: filter 0.5s;
}

.menu a:hover img {
    filter: brightness(0) invert(1);
}

/* Estilos para los elementos desplegables */
.dropdown ul {
    max-height: 0;
    overflow: hidden;
    padding-left: 50px;
    list-style-type: none;
    transition: max-height 0.5s;
}

.dropdown.active ul {
    max-height: 200px;
}

.dropdown .arrow {
    transition: transform 0.3s ease;
}

.dropdown.active .arrow {
    transform: rotate(180deg);
}

.dropdown ul li {
    margin: 15px 0px;
    color: #8f8f8f;
}

/* Estilos para el indicador de sección activa */
.indicator {
    display: none;
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    width: 6px;
    height: 100%;
    background-color: #ffffff;
}

/* Estilos adicionales para la opción de menú activa */
.menu li.active .indicator {
    display: block;
}

.menu a img.white-color,
.menu li.active a img {
    filter: brightness(0) invert(1);
}

/* Cuando la clase 'active' está presente en un 'li', cambia el color del texto a blanco */
.menu li.active > a {
    color: #ffffff;
}

/* Cuando la clase 'active' está presente en un 'ul', cambia el color del texto a #8f8f8f */
.menu ul.active a {
    color: #8f8f8f;
}